# System files
.DS_Store
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Environment
.env
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/*.hdf5

# Figures
assets/figures/*.png

# Lab outputs
lab/*/outputs/
