site_name: WTFunk is Deep Learning
site_description: Learn DL with clarity. From first neuron to CNNs.
site_url: https://pchambet.github.io/wtf-is-deep-learning/
repo_url: https://github.com/Pchambet/wtf-is-deep-learning
repo_name: Pchambet/wtf-is-deep-learning
edit_uri: edit/main/docs/
theme:
  name: material
  features:
    - navigation.instant
    - navigation.sections
    - navigation.top
    - navigation.footer
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
    - toc.integrate
  icon:
    logo: material/brain
    repo: fontawesome/brands/github
  palette:
    - scheme: default
      primary: indigo
      accent: cyan
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: cyan
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Guides: guides.md
markdown_extensions:
  - admonition
  - footnotes
  - toc:
      permalink: true
  - attr_list
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
extra_css:
  - styles/overrides.css
  - pymdownx.tabbed
